table {
  width: 100%;
}

.encuestaForm {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.encuestaForm-full-width {
  width: 100%;
}

button {
    min-width: 100%;
}

mat-card {
  margin: 20px;
}

.row {
  display: flex;
}

.column1 {
  flex: 25%;
}
.column3 {
  flex: 75%;
}
