<div class="row">
    <div class="column1">
        <mat-card class="formulario">
            <form class="encuestaForm" [formGroup]="encuestaForm">
                <mat-card-title>Encuesta Musical</mat-card-title>
                <mat-card-content>
                    <p>
                        <mat-form-field appearance="outline" class="encuestaForm-full-width">
                            <mat-label>Ingrese su email</mat-label>
                            <input matInput placeholder="john@example.com" formControlName="email" required>
                            <mat-error *ngIf="encuestaForm.controls.email.errors">{{getErrorMessage()}}</mat-error>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field appearance="outline" class="encuestaForm-full-width">
                            <mat-label>Seleccione Estilo Musical</mat-label>
                            <mat-select formControlName="estilo" required>
                                <mat-option *ngFor="let musica of datosEstilos" [value]="musica.id">
                                    {{musica.estilo}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </p>
                </mat-card-content>
            </form>
            <mat-card-actions>
                <div>
                    <button mat-raised-button color="primary" (click)="saveEncuesta()" type="submit" class="btn btn-primary" [disabled]="!encuestaForm.valid">
                        <mat-icon>save</mat-icon> &nbsp;Registrar suscripci&oacute;n
                    </button>
                </div>
                <br>
                <div>
                    <button mat-raised-button color="primary" (click)="loadResultados()" class="btn btn-primary">
                        <mat-icon>list</mat-icon> &nbsp;Visualizar Resultados
                    </button>
                </div>
            </mat-card-actions>


        </mat-card>
    </div>
    <div class="column3">
        <mat-card class="resultados" *ngIf="this.resultados">

            <mat-card-title>Resultados</mat-card-title>
            <mat-card-content>

                <table mat-table aria-describedby="tablaResultados" [dataSource]="this.resultados">

                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> No. </th>
                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>

                    <!-- Position Column -->
                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef> Correo </th>
                        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                    </ng-container>

                    <ng-container matColumnDef="estilo">
                        <th mat-header-cell *matHeaderCellDef> Estilo Musical </th>
                        <td mat-cell *matCellDef="let element"> {{element.estiloMusical.estilo}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </mat-card-content>
        </mat-card>
    </div>
</div>
